.homePage--container {
  display: flex;
  height: 100%;

  .homePage--menu {
    height: 100%;
    border-right: 4px solid #051923;
    max-width: 100px;
  }

  .homePage--timerSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 2 ;
    width: 100%;
    
    .timerSection--timerContainer {
      flex: 1;
      background-color: #006494;
      
      .timerSection--timer {
      border-radius: 40px;
      background: #00a6fb;
      width: 60%;
      margin: 0 auto;
      box-shadow: 2px 2px 2px;
      span {
          font-size: 64px;
        } 
      }
    }

    .timerSection--timerControls {
      flex: 1;
      background: #006494;
      
      .timerControls--formContainer {
        width: 60%;
        margin: 0 auto;
        position: relative;
        background: #00a6fb;
        height: 200px;
        border-radius: 40px;
        box-shadow: 2px 2px 2px;

        form {
          position: absolute;
          top: 35%;
          left: 35%;
        }
        input[type=number] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          box-sizing: border-box;
        }

       }
      }

    }

    .timerControls--buttons {
      padding-top: 200px;
      display: flex;
      margin: 0 auto;
      padding-left: 40px;
      padding-right: 40px;

      .button {
        flex: 1;
        width: 100px;
        height: 40px;
        background-color: #00a6fb;
        border-radius: 20px;
        line-height: 40px;
        box-shadow: 2px 2px 2px;
      }

    }

  }

  .homePage--goalSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    width: 100%;
    border-left: 4px solid #051923;

    .goalSection--goalContainer {
      flex: 1;
      background: #006494;
      
    }

    .goalSection--toDoControls {
      flex: 1;
      background: #006494;
      form {
        padding-left: 40px;
        padding-right: 40px;
      }
      input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      }

      .button {
        flex: 1;
        width: 100px;
        height: 40px;
        background-color: #00a6fb;
        border-radius: 20px;
        line-height: 40px;
        box-shadow: 2px 2px 2px;
        margin: 0 auto;
      }

    }

    .goalSection--toDoList {
      flex: 5;
      background: #006494;
    }

  }

