.homePage--container {
  display: flex;
  height: 100%;

  .homePage--menu {
    height: 100%;
    max-width: 100px;
  }

  .homePage--timerSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 2 ;
    width: 100%;

    .timerSection--timerContainer {
      flex: 1;

      .timerSection--timer {
      border-radius: 40px;
      margin: 0 auto;
      span {
          font-size: 64px;
        }
      }
    }

    .timerSection--timerControls {
      align-items: flex-start;
      display: flex;
      flex: 1;
      flex-flow: column nowrap;
      justify-content: flex-start;
      padding-top: 120px;

      .timerControls--formContainer {
        margin: 0 auto;
        position: relative;
        border-radius: 40px;

        input[type=number] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          box-sizing: border-box;
        }

       }
      }

    }

    .timerControls--buttons {
      display: flex;
      margin: 0 auto;
      padding-top: 24px;

      .MuiButtonBase-root {
        flex: 1;
        height: 40px;
        margin: 0 8px;
        width: 100px;
      }

    }

  }

  .homePage--goalSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    width: 100%;

    .goalSection--goalContainer {
      flex: 1;
    }

    .goalSection--toDoControls {
      flex: 1;
      form {
        padding-left: 40px;
        padding-right: 40px;
      }
      input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      }

      .button {
        flex: 1;
        width: 100px;
        height: 40px;
        border-radius: 20px;
        line-height: 40px;
        margin: 0 auto;
      }

    }

    .goalSection--toDoList {
      flex: 5;
    }

    .goalSection {
      &--inputContainer {
        margin-bottom: 18px;
      }
    }
  }

