.homePage--container {
  display: flex;
  height: 100%;

  .homePage--menu {
    height: 100%;
    border-right: 2px solid #051923;
    max-width: 100px;
  }

  .homePage--timerSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 2 ;
    background-color: greenyellow;
    width: 100%;

    .timerSection--timerContainer {
      flex: 1;
      background-color: orange;
    }

    .timerSection--timerControls {
      flex: 1;
      background: tan;
    }

  }

  .homePage--goalSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    background-color: red;
    width: 100%;

    .goalSection--goalContainer {
      flex: 1;
      background: tan;
    }

    .goalSection--toDoControls {
      flex: 1;
      background: blueviolet;
    }

    .goalSection--toDoList {
      flex: 1;
      background: pink;
    }

  }

}