html {
  height: 100%;
}

body {
  background-color: #424242;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.root {
  height: 100% !important;
  .MuiPaper-root {
    background-color: transparent;
    color: #fff;
  }

  .MuiInputBase-root {
    color: #fff;
    border-color: #fff;
  }

  .MuiFormLabel-root, .MuiFormLabel-root.Mui-focused {
    color: #fff;
  }

  .MuiInput-underline:before {
    border-bottom-color: #fff;
  }

  .MuiInput-underline:after {
    border-bottom-color: #fafafa;
  }

  .MuiInput-underline:hover:not(.Mui-disabled):before,
  .MuiInput-underline:hover:not(.Mui-disabled):after {
    border-bottom-color: #fff;
  }

  .MuiInputBase-input {
    color: #fff;
    border-color: #fff;
  }
}
